@charset "utf-8";
@import url(./normalize.css);
/* 기본 박스 사이징 재 설정 (width에 border-width와 padding을 포함하여 계산) */
*, ::before, ::after {
    box-sizing: border-box;
}
/* Css Module */
/* float 이슈를 해결하기 위한 css선언 */
.clearfix::after {
    display: block;
    content: "";
    clear: both;
}

.container {
    background-color: silver;
    height: 100vh;
}
.header, .visual, .main, .slogan, .footer {
    box-sizing: border-box;
    margin: 0 auto;
    width: 940px;
}
.header {
    background-color: yellow;
    height: 10vh;
}
.visual {
    height: 10vh;
}
.main {
    background-color: blue;
    padding: 30px 15px;
}
.group {
    float: left;
    margin: 0 15px;
    height: 60vh;
}
.group1 {
    background-color: tomato;
    width: 250px;
}
.group2 {
    background-color: skyblue;
    width: 380px;
}
.group3 {
    background-color: pink;
    width: 190px;
}

.slogan {
    background-color: orange;
    height: 10vh;
}
.footer-bg {
    background-color: purple;
}
.footer {
    background-color: yellow;
    height: 10vh;
}